<!DOCTYPE html>
<html>
<head>
	<title>FoodBack Home</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>	
	<nav class="navbar navbar-default">
		<a class="navbar-brand" href="#">FBH</a>
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<a class="nav-link" href="login">Login</a>
				
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/">Sign Up</a>
			</li>
		</ul>
	</nav>
	
	<div class="landing-header container text-center border-bottom ">
		<h1>FoodBack Home</h1>
		<p class="lead">Aenean at vestibulum nisl. Morbi quis tincidunt tellus. Maecenas vitae efficitur justo. Vivamus porttitor massa massa, vel posuere massa ultricies eget. 
		Pellentesque finibus nulla nec ipsum maximus pretium. Sed id pharetra lectus.</p>
		<a class="btn btn-outline-light" href="/">Discover New Food</a>
	</div>

<% include partials/footer %>