<% include partials/header %>
<div class="container">
	<div class="jumbotron">
	  <h1 class="display-4">WELCOME TO FOODBACK HOME</h1>
	  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	  <hr class="my-4">
	  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	  <a class="btn btn-light btn-lg" href="/foodpost/new" role="button">Add a Food Item</a>
	</div>
	<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-3">
					<div class="hovereffect">
					<img class="img-responsive" src="https://static1.squarespace.com/static/59fb2fa20abd042e68f0b834/t/5a0072c5e31d1974b6be0f4b/1509978829172/Website+background.jpg?format=2500w" alt="Card image cap">
					<div class="overlay">
						<h2>Hover effect 1</h2>
						<a class="info" href="#">link here</a>
					</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-3">
					<div class="hovereffect">
						<img class="image-responsive" src="https://static1.squarespace.com/static/59fb2fa20abd042e68f0b834/t/5a0072c5e31d1974b6be0f4b/1509978829172/Website+background.jpg?format=2500w" alt="Card image cap">
						<div class="overlay">
							<h2>Hover effect 1</h2>
							<a class="info" href="#">link here</a>
						</div>
					</div>
				</div>
			</div>	
		</div>
</div>

<% include partials/footer %>