<% include partials/header %>

<div class="container form">
	<div class="row justify-content-center">
		<div class="col-md-9 col-lg-6">
			<h1 class="text-center">MEMBER LOGIN</h1>
			<form>
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" class="form-control" id="username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" id="password" placeholder="Password">
				</div>
				<a href="/" class="btn btn-primary">Login</a>
			</form>
		</div>
	</div>
</div>

<% include partials/footer %>